<footer class="d-flex flex-column justify-content-center align-items-center" style="height: 200px">
  <div class="pb-1">
    <i class="bi bi-twitter-x"></i><i class="bi bi-github ps-2 pe-2"></i
    ><i class="bi bi-facebook"></i>
  </div>
  <p>Copyright © Hack Academy 2024</p>
</footer>
