<nav id="navbar" class="navbar bg-dark border" data-bs-theme="dark" id="navbar">
  <div class="container p-0">
    <a class="navbar-brand" href="/">Hack the blog</a>
    <a class="btn btn-primary" href="/admin">Admin</a>
  </div>
</nav>
