<nav id="navbar" class="navbar bg-dark border" data-bs-theme="dark" id="navbar">
  <div class="container p-0">
    <a class="navbar-brand" href="/">Hack the blog</a>
    <div>
      <a class="btn btn-primary" href="/articles/admin">Admin</a>
      <% if (loggedUser) { %>
      <a class="btn btn-danger" href="/logout">Logout</a>
      <% } else { %>
      <a class="btn btn-success" href="/login">Login</a>
      <% } %>
    </div>
  </div>
</nav>
