/* Create article */
body {
    height: 100vh
}

#createArticle-formContainer {
    width: 70%;
    height: 100%;
}




















/* lINEA 30 Edit article */





























/* LINEA 60 Home - Adrian */





























/* LINEA 90 Article - Laura */





























/* LINEA 120 Admin/Tabla - Fede */