/* Create article */
body {
  height: 100vh;
}

<<<<<<< HEAD
.createArticle-container {
  height: calc(100vh - 240px);
=======
#createArticle-formContainer {
    width: 70%;
    height: 100%;
>>>>>>> 8195671a327f0eb42f383d4471b4f5003feaec2f
}




















/* lINEA 30 Edit article */





























/* LINEA 60 Home - Adrian */
.section-articles{
    width: 800px;
}
.imagen-header{
    background-image:  linear-gradient(rgba(35, 35, 37, 0.5), rgba(0, 0, 0, 0.753)), url("https://cdn.pixabay.com/photo/2017/01/18/08/25/social-media-1989152_1280.jpg");
    height: 500px;
    object-fit: cover;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
}
.container p {
    text-align: justify ;
}
.container-title h1{
    font-weight: bold;
    font-size: 4rem;
}
section a {
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
    font-size: larger;
}
section h2 :hover{
    color: #0d6efd;
}
article img{
    width: 200px; 
    object-fit: cover; 
    border-radius: 20px
}
article p {
    margin-top: 10px;
}

























/* LINEA 90 Article - Laura */
header {
  background-image: linear-gradient(rgba(35, 35, 37, 0.5), rgba(0, 0, 0, 0.753)),
    url(https://cdn.pixabay.com/photo/2017/01/18/08/25/social-media-1989152_1280.jpg);
  height: 250px;
  color: white;
}
.header-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-image {
  width: 60vw;
  object-fit: cover;
  object-position: 50% 50%;
}
.bold {
  font-weight: bold;
}
.grey {
  color: grey;
}

/* LINEA 120 Admin/Tabla - Fede */